{%extends "base.html"%}
{% load static %}
{%block css%}
  <link rel="stylesheet" type="text/css" href="{%static 'home.css' %}"/> 
{% endblock %}
{%block title%}busqueda de articulo{%endblock%}
{%block body%}

<p>Se encontraron {{cantidad}} para {{tipo}} </p>
    {% for producto in Products%}
    <h4>{{producto.name}}</h4>
    <p>{{producto.description}}</p>
    <p>{{producto.price}}</p>
    <a class="btn btn-success"  >
      <i class="fa-solid fa-list-check"></i>
      agregar
    </a>

    {%endfor%}



{% endblock body %}