{%extends "base.html"%}
{% load static %}
{%block css%}
  <link rel="stylesheet" type="text/css" href="{%static 'home.css' %}"/> 
{% endblock %}
{%block title%}busqueda de articulo{%endblock%}
{%block body%}


<style>
 .imagendeproducto{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 110px;
  }

  .productobusqueda{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
  }

  .tituloticketcompra{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  table{
    width: 25%;
    display: flex;
    flex-direction: column;
  }

.tituloticketcompra p {
  float: left;
  width: 90%;
}

</style>
<div class="tituloticketcompra">
<p>Se encontraron {{len}} para {{query}} </p>


    <div class="productobusqueda">


      {% for producto in products %}
      <table class="tablitabusqueda">
          <tr>
              <td><h4>{{ producto.name }}</h4></td>
          </tr>
          <tr>
              <td><a class="imagendeproducto" href="/busqueda-producto/{{ producto.id }}"><img src="/static/ProductImages/{{ producto.photoPath }}" alt=""></a></td>
          </tr>
          <tr>
              <td>{{ producto.description }}</td>
          </tr>
          <tr>
              <td>{{ producto.price }}</td>
          </tr>
          <tr>
              <td>
                  <a href="/detalle-producto/{{ producto.id }}" class="btn btn-success">
                      <i class="fa-solid fa-list-check"></i>
                      agregar
                  </a>
              </td>
          </tr>
      </table>
  {% endfor %}

    </div>

</div>




{% endblock body %}