{%extends "base.html"%}
{% load static %}
{%block css%}
  <link rel="stylesheet" type="text/css" href="{%static 'home.css' %}"/> 
{% endblock %}

{%block title%}Carrito{%endblock%}
{%block body%}
    <style>
      .container-fluid .content{
        display: flex;
        flex-direction: row;
      }
      .container-md img {
        display: flex;
        flex-direction: row;
        width: 100px;
        height: 110px;
        
      }

       table {
        margin-left: 5px;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        
      }
      h1{
        text-align: center;
      }
      
      #carrito{
        border-top: solid black 2px;
        border-bottom: solid black 2px;
        width: 72%;
        height: 55vh;
        overflow: auto;
        float: left;
        margin-left: 40px;
        overflow-x: hidden;
      }
      
      #importetotal{
        width: 200px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        float: right;
        margin-right: 50px;
      }
      #footer{
        width: 100%;
        position: fixed;
        display: flex;
        align-items: start;
        flex-direction: column;
      }
      tr input{

        width: 50px;
        text-align: center;
        border: solid black 1px;
        margin-top: 40px;
        margin-bottom: 40px; 
      }
      table{
        width: 100%;
      }
      .container .total{
        display: flex;
        flex-direction: row;

      }
      a{
        text-decoration: none;
        color: black;
      }
    </style>
    <div class="titulocarrito">
    <h1>Mi carrito </h1>
    </div>
    <div class="container-fluid content">


    <div class="container-md" id="carrito">
      <table class="tablacarrito">
        {% for producto in products%}
          <tr>       
            <td><a href="/busqueda-producto/{{producto.id}}"><img src="/static/ProductImages{{producto.photoPath.url }}"> </a></td>  
            <td><a href="/busqueda-producto/{{producto.id}}">{{producto.description}}</a></td>        
            <td>{{producto.form.quantity}}</td>
          </tr>
        {%endfor%}
        
      </table>
      
    </div>    
    <div class="container rounded-3"  id="importetotal" style="background-color: #AB8742;"> 
      <h4>Resumen de pedido</h4>
      <div class="container total">  
        <h5>Subtotal  </h5>
        <p>{{total}}</p>
      </div>
      <div class="container total">
        <h5>Total  </h5>
        <p>{{total}}</p>  
      </div>

      <a href="/ticket-de-compra/{{userId}}" class="btn btn-success"  >
        <i class="fa-solid fa-list-check"></i>
        Comprar
      </a>
    </div>
    
  </div>
    
  <div class="container-fluid" id="footer">
  <a href="ingresar codigo promocional"></a>
  <a href="agregar una nota"></a>
  </div>
{% endblock body %}