{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'home.css' %}" />
{% endblock %} {% block title %}Detalle producto{% endblock %} {% block body %}

<style>
  .detalleProducto {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
  }

  .imagenLateralContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .InformacionProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .AgregarProducto {
    background-color: #536a44;
    border-radius: 1rem;
    width: 25rem;
    height: 25rem;
    text-align: center;
    justify-content: space-between;
  }

  .DinoButtom {
    background-color: #ab8742;
    margin-top: 2rem;
  }

  .ImagenPrincipal img{
    width: 150px;
    height: 250px;
    margin-top: 15px;
    margin-left: 15px;
  }

  .ImagenProducto {
    width: 5rem;
    height: 5rem;
  }

  .ImagenPrincipal {
    width: 15rem;
    height: 15rem;
    margin-top: 3rem;
  }

  .message {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: white;
  }

  input[type="text"] {
    background-color: #8ca87c;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
  }
</style>

<div class="detalleProducto">
  <div class="imagenLateralContainer">
    <img
      class="ImagenProducto"
      src="/static/ProductImages/{{product.photoPath}}"
    />
    <img
      class="ImagenProducto"
      src="/static/ProductImages/1{{product.photoPath}}"
    />
    <img
      class="ImagenProducto"
      src="/static/ProductImages/2{{product.photoPath}}"
    />
  </div>

  <div class="ImagenPrincipal" style="text-align: center;">
    <img src="/static/ProductImages/{{product.photoPath}}" />
  </div>

  <div class="InformacionProducto">
    <FONT size="6"><strong>Producto:</strong> <br>{{product.name}}</FONT>
    <FONT size="5"><strong>Marca:</strong> <br>{{product.brand}}</FONT>
    <FONT size="4"><strong>Descripcion:</strong> <br>{{product.description}}</FONT>
    <FONT size="4"><!-- <img src="/static/pesos.svg" /> --><strong>Precio:</strong> <br> ${{product.price}}</FONT>
  </div>

  <div class="AgregarProducto">
    <h1 class="message">Cantidad</h1>
    <form class="form" method="POST" style="align-items: center;">
      {% csrf_token %}
      {{form.quantity}}
      <br/>
      <!-- <input class="btn" type="submit" value="Agregar al carrito" /> -->
      <input class="DinoButtom" type="submit" value="Agregar al carrito" />
  </div>

  <!-- <p>{{product.quantity}}</p>
  <p>{{product.photoPath}}</p>
  <p>{{product.provider}}</p> -->
  {% endblock body %}
</div>
