{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'home.css' %}" />
{% endblock %} {% block title %}Detalle producto{% endblock %} {% block body %}

<style>
  .detalleProducto {
    display: flex;
    justify-content: space-between;
    margin: 5rem;
  }

  .imagenLateralContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .InformacionProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .AgregarProducto {
    background-color: #536a44;
    border-radius: 1rem;
    width: 25rem;
    height: 25rem;
    text-align: center;
    justify-content: space-between;
  }

  .btn {
    background-color: #ab8742;
  }

  .ImagenProducto {
    width: 5rem;
    height: 5rem;
  }

  .ImagenPrincipal {
    width: 15rem;
    height: 15rem;
  }

  .message {
    margin-top: 8rem;
    color: white;
  }

  input[type="text"] {
    background-color: #8ca87c;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
  }
</style>

<div class="detalleProducto">
  <div class="imagenLateralContainer">
    <img
      class="ImagenProducto"
      src="/static/ProductImages/{{product.photoPath}}"
    />
    <img
      class="ImagenProducto"
      src="/static/ProductImages/1{{product.photoPath}}"
    />
    <img
      class="ImagenProducto"
      src="/static/ProductImages/2{{product.photoPath}}"
    />
  </div>

  <div class="ImagenPrincipal">
    <img src="/static/ProductImages/{{product.photoPath}}" />
  </div>

  <div class="InformacionProducto">
    <h1>{{product.name}}</h1>
    <h2>{{product.brand}}</h2>
    <p>{{product.description}}</p>
    <p><!-- <img src="/static/pesos.svg" /> -->${{product.price}}</p>
  </div>

  <div class="AgregarProducto">
    <p class="message">Cantidad</p>
    <form class="form" method="POST">
      {% csrf_token %}
      {{form.quantity}}
      <br/>
      <input class="btn" type="submit" value="Agregar al carrito" />

    <!-- <form>
      <input
        type="number"
        name="numero"
        id="numero"
        placeholder="Ingresa un número"
      />
      <br />
      <input class="Buttom" type="submit" value="Agregar al carrito" />
    </form> -->
  </div>

  <!-- <p>{{product.quantity}}</p>
  <p>{{product.photoPath}}</p>
  <p>{{product.provider}}</p> -->
  {% endblock body %}
</div>
