{%extends "base.html"%}
{% load static %}
{%block css%}
  <link rel="stylesheet" type="text/css" href="{%static 'home.css' %}"/> 
  
{% endblock %}
{%block title%}Home{%endblock%}
{%block body%}

<style>
    #principal{
        display: flex;
        flex-direction: column;
    }
</style>

 <!-- Comienza código a copiar en template -->
  <h1 class="d-block text-center mt-5">Bienvenido {{username}}</h1>
  <div class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="p-5">
                <a href="#" class="text-center d-block p-5 rounded-3" style="text-decoration:none; background-image: url({% static 'pie
    // Función para abrir el modal
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }

    // Función para cerrar el modal
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    // Función para eliminar un pedido (solo para simulación)
    function eliminarPedido(numeroPedido) {
      alert("Eliminando pedido #" + numeroPedido);
    }
  </script>
</body>
</html>

</div>
{%if suscribe%}
{%include "suscripcion.html"%}
{%endif%}
</div>

{% endblock body %}

