{%extends "base.html"%}
{% load static %}
{%block css%}
  <link rel="stylesheet" type="text/css" href="{%static 'home.css' %}"/> 
{% endblock %}
{%block title%}Home{%endblock%}
{%block body%}
<p>se encontraron {{cantidad}} resultados para {{tipo}}</p>  

  {% for produto in productos%}
  <p>{{producto.Name}}</p>  
  <p>{{producto.Price}}</p>  
  <p>{{producto.Marca}}</p>  
  <p>{{producto.Description}}</p>  
  <p>{{producto.quantity}}</p>  
  <p>{{producto.photoPath}}</p>  
  <p>{{producto.provider}}</p>  
  
  {%endfor%}  
<a href="busqueda/productos de limpieza"></a>
<a href="busqueda/productos a granel"></a>
<a href="busqueda/bebidas"></a>
{% endblock body %}