{%extends "base.html"%}
{% load static %}
{%block css%}
  <link rel="stylesheet" type="text/css" href="{%static 'home.css' %}"/> 
  
{% endblock %}
{%block title%}Home{%endblock%}
{%block body%}

<style>
    #principal{
        display: flex;
        flex-direction: column;
    }
</style>

 <!-- Comienza código a copiar en template -->
  <h1 class="d-block text-center mt-5">Bienvenido {{username}}</h1>
  <div class="container mt-3">
    <div class="row">
        <div class="col-sm">
            <div class="p-5">
                <a href="/registro-producto" class="text-center d-block p-5 rounded-3" style="text-decoration:none; background-image: url({% static 'piedrascafes.jpeg' %}); background-size: cover;">
                    <h2 class="text-white display-3">Registrar producto</h2>
                </a>
            </div>
        </div>
        <div class="col-sm">
            <div class="p-5">
                <!-- Agrega el enlace para abrir el modal -->
                <a href="#" onclick="openModal()" class="text-center d-block p-5 rounded-3" style="text-decoration:none; background-image: url({% static 'piedras.jpg' %}); background-size: cover;">
                    <h2 class="text-white display-3">Consultar pedidos</h2>
                </a>
            </div>
        </div>
    </div>
  </div>
  <!-- Termina código a copiar en template -->

  <!-- Modal y código JavaScript -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Consulta de Pedidos</h2>
      
      <table>
        <tr>
          <th>#</th>
          <th>Nombre de la tienda</th>
          <th>Cantidad a pagar</th>
          <th>Telefono</th>
        </tr>
        {%for client in clients%}
          <td>
            1
          </td>
          <td>
            {{client.name}}
          </td>
        <td>
          {% for bill in bills%}
            {{bill}}
          {% endfor %}
        </td>
        <td>
          {{client.telephone}}
        </td>
        {%endfor%}
      </table>
    </div>
  </div>

  <script>
    // Función para abrir el modal
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }

    // Función para cerrar el modal
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    // Función para eliminar un pedido (solo para simulación)
    function eliminarPedido(numeroPedido) {
      alert("Eliminando pedido #" + numeroPedido);
    }
  </script>
</body>
</html>

</div>
{%if suscribe%}
{%include "suscripcion.html"%}
{%endif%}
</div>

{% endblock body %}

