{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{%static 'home.css' %}" />
{% endblock %} {% block title %}Nuevo producto{% endblock %} {% block body %}

<style>
  input[type="text"] {
    width: 20rem;
    background-color: #8ca87c;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
  }
  input[type="number"] {
    width: 20rem;
    background-color: #8ca87c;
    border-radius: 50%;
    padding-top: 10px;
    text-align: center;
  }
  .AgregarProductoNuevo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #d9c9b9;
    width: 60rem;
    height: 35rem;
    border-radius: 1rem;
  }
  .ContenedorPrincipal {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .DinoImagen {
    width: 35rem;
    height: 35rem;
    border-radius: 1rem;
  }
  .DinoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 6rem;
    padding: 6rem;
    margin-top: -1.75rem;
  }
  .AddPhoto {
    display: flex;
    width: 15rem;
    height: 15rem;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 10px;
  }
  #id_photoPath {
    width: 5rem;
    height: 5rem;
  }
  #id_description {
    margin-top: 2rem;
    border-radius: 50%;
    width: 43rem;
    height: 8rem;
  }
  .super {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .DinoButton {
    background-color: #ab8742;
  }
</style>

<div class="container-fluid super">
  <h1>Nuevo producto</h1>
  <div class="ContenedorPrincipal">
    <div class="Container-lg AgregarProductoNuevo">
      <form class="DinoForm" method="POST">
        {% csrf_token %}
        <!-- <img src="/static/add.svg" onchange="{{ form.photoPath }}" /> -->
        {{ form.photoPath }}
        <div class="row">{{ form.name }} {{ form.price }}</div>
        <div class="row">{{ form.brand }} {{ form.quantity }}</div>
        <div class="description">{{ form.description }}</div>
        <button class="btn btn-succes mt-3 DinoButton" type="submit">
          Enviar
        </button>
      </form>
    </div>
    <div class="container">
      <img class="DinoImagen" src="/static/DinoProductoNuevo.jpg" />
    </div>
  </div>
</div>

{%endblock%}
