{%extends "base.html"%}
{% load static %}
{%block css%}
    
<link rel="stylesheet" type="text/css" href="{%static 'home.css' %}"/> 
  
{% endblock %}
{%block title%}Home{%endblock%}
{%block body%}
        <style>
            .compradorDerecha{
                text-align: right;
                margin-right: 50px;
            }

            .container {
                display: flex;
                height: 400px;
                
            }

            .column-1 {
                flex: 1; 
                background-color: #AB8742; 
                margin-right: 50px;
                border-radius: 20px;
            }

            .column-2 {
                flex: 1; 
                background-color: #AB8742; 
                margin-right: 50px;
                border-radius: 20px;
            }

            .column-3 {
                flex: 1; 
                background-color: #ffffff; 
                border-radius: 20px;
            }
            .centrarDiv{
                display: flex;
                justify-content: center;
            }

            .centrarTexto{
                text-align: center;
            }

            .top{
                margin-top: 60px;
            }

            .bottom{
                position: absolute;
                bottom: 0;
            }

            .centrar{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .tamañoDiv{
                height: 50px;
            }

            .tamañoDiv2{
                height: 300px;
            }

            .colorInput{
                background-color: #8CA87C;
                border-radius: 10px;
            }

            .colorTextoNegro{
                color: black;
            }

            ::placeholder{
                color: black;
            }

            .tamañoBoton{
                height: 50px;
                width: 200px;
            }
            

        </style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <h1 class="compradorDerecha">Comprador</h1>

        <div class="container">
            <div class="column-1">
                
                <div class="centrarDiv top tamañoDiv">
                    <input class="centrarTexto colorInput colorTextoNegro" type="text" placeholder="Nombre">
                </div>

                <div class="centrarDiv top tamañoDiv">
                    <input class="centrarTexto colorInput colorTextoNegro" type="text" placeholder="Apellido">
                </div>

                <div class="centrarDiv top tamañoDiv">
                    <input class="centrarTexto colorInput colorTextoNegro" type="text" placeholder="Telefono">
                </div>
            </div>

            <div class="column-2 centrar">
                
                <div class="centrarDiv centrar tamañoDiv2">
                    <input class="centrarTexto colorInput colorTextoNegro" style="height: 200px; width: 250px;" type="text" placeholder="Descripción">                    
                </div>

            </div>
            <div class="column-3 centrar">
                <div class="centrarDiv bottom">
                    <input href="/home" class="centrarTexto colorInput colorTextoNegro tamañoBoton" style="margin-bottom: 50px;" type="button" value="Siguiente">
                </div>
            </div>
          </div>
        
{% endblock body %}