
{% load static %}

        <style>
        
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
            }

            .fondo{
                background-color: #D9C9B9;
            }

            .tamañoDiv{
                height: 400px;
                width: 900px;                
            }

            .borde{
                border-radius: 20px;
            }

            .centrarTexto{
                text-align: center;
            }

            .centrarImg{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .botones-container {
                display: flex;
                justify-content: space-between;
            }
            
            .btn {
                padding: 10px 20px;
            }
            
            .btn-aceptar {
                background-color: #8CA87C;
                color: white;
            }
            
            .btn-rechazar {
                background-color: #8CA87C;
                color: white;
            }

            .tamañoBoton{
                height: 50px;
                width: 200px;
            }
            .modal {
                display: none;
                position: fixed;
                z-index: 9999;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.5);
                }

               

        </style>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <h1 class="d-block text-center mt-5">¡Bienvenido al Escorpion!</h1>

        <div class="container" style="margin-bottom: 50px;">
            <div class="fondo tamañoDiv borde">
                <h4 class="centrarTexto" style="margin-top: 25px;">¡¡¡CONVIERTETE EN DINOSOCIO!!!</h4>

                <div class="centrarImg">
                    <img  style="width: 175px; height: 250px; margin-top: 25px;" src="{% static 'dinotraje.png'%}" alt="Dino Traje">
                </div>

                <div class="botones-container" style="width: 100%; display: flex; align-items: center; justify-content: center;" >
                
                    <button onclick="mostrarModal()" class="btn btn-aceptar tamañoBoton">
                        ver mas
                    </button>
                </div>
            </div>
        </div>

        <!-- pantalle flotante -->
        
          <!-- Comienza código a copiar en template -->
          <div class="container mt-5 modal" id="pantallaFlotante">
            <div class="row">
                <div class="col-4">
                    <img src="{%static 'dino.png'%}" alt="dino" style="height: 550px;">
                </div>
                <div class="col-8">
                    <div class="rounded-3 p-4" style="background-color: bisque;">
                        <h1 class="text-center">
                            Conoce los beneficios de pertenercer a nuestra comunidad de dinosocios.
                        </h1>
                        <div class="container p-5">
                            <div class="row">
                                <div class="col-sm">
                                    <h3 class="text-center">
                                        Disfruta del cobro de una comisión del sólo 15% por venta.
                                    </h3>
                                    <img src="{%static 'flecha.jpeg'%}" alt="flecha" class="d-block mx-auto mt-2" style="width: 100px;">
                                    <button onclick="cerrarModal()" type="button" class="btn btn-primary mt-3 d-block mx-auto">Quiero ser dinosocio</button>
                                </div>
                                <div class="col-sm">
                                    <h4 class="text-center">
                                        Obtén más alcance publicitario en nuestra página para que más personas conozcan tu tienda.
                                    </h4>
                                    <img src="{%static 'alianza.png'%}" alt="flecha" class="d-block mx-auto mt-2" style="width: 145px;">
                                    <a href="/" type="button" class="btn btn-secondary mt-3 d-block mx-auto">Quzás más tarde</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
<script>
    function mostrarModal() {
  var modal = document.getElementById("pantallaFlotante");
  modal.style.display = "block";
}

function cerrarModal() {
  var modal = document.getElementById("pantallaFlotante");
  modal.style.display = "none";
  alert('Gracias por convertirete en socio')
}
</script>