{%extends "base.html"%}
{% load static %}
{%block css%}
  <link rel="stylesheet" type="text/css" href="{%static 'home.css' %}"/> 
{% endblock %}
{%block title%}Orden aceptada{%endblock%}
{%block body%}

    <div class="ordenaceptada">
    <h1>Tu orden ha sido aceptada</h1>
    </div>
    <div class="container" id="">
    {% for producto in Products%}
    <img src="{{producto.photoPath}}" id="articulos">
    <a href="/busqueda/{{producto.id}}" ><img src="static/ProductImages/{{producto.photoPath}}" alt=""></a>
    <p>{{producto.description}}</p>
    <p>{{producto.quantity}}</p>
    <p>{{producto.price}}</p>
    {%endfor%}
    </div>

    <div class="container" id="cuenta">
    <p>Subtotal {{subtotal}}</p>
    <p>Total {{total}}</p>
    </div>
 
  <a href="">Imprimir ticket de compra</a>
  

{% endblock body %}